absl-py==2.2.2
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiohttp-retry==2.8.3
aiosignal==1.3.1
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.13.3
blinker==1.9.0
Bootstrap-Flask==2.4.2
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.3.2
click==8.1.8
contourpy==1.2.1
cycler==0.12.1
dominate==2.9.1
dotenv==0.9.9
filelock==3.17.0
Flask==3.1.0
Flask-Bootstrap==3.3.7.1
Flask-WTF==1.2.2
flatbuffers==25.2.10
fonttools==4.53.1
frozenlist==1.4.1
gast==0.6.0
google-api-python-client==1.7.9
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
grpcio==1.71.0
gunicorn==23.0.0
h5py==3.13.0
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
keras==3.9.2
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.1
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
multidict==6.1.0
mysql-connector-python==9.1.0
namex==0.0.8
numpy==2.0.1
opt_einsum==3.4.0
optree==0.15.0
packaging==24.1
pandas==2.2.3
pillow==10.4.0
protobuf==5.29.4
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.1
PyJWT==2.9.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
rich==14.0.0
rsa==4.9
scikit-learn==1.6.1
scipy==1.15.2
secure-smtplib==0.1.1
setuptools==78.1.0
six==1.16.0
snscrape==0.7.0.20230622
soupsieve==2.6
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.0.1
threadpoolctl==3.6.0
twilio==9.3.2
typing_extensions==4.12.2
tzdata==2025.2
uritemplate==3.0.1
urllib3==2.2.3
visitor==0.1.3
Werkzeug==3.1.3
wheel==0.45.1
WTForms==3.2.1
yarl==1.13.1
